### Vagrant ###
.vagrant
.sdk

### Ansible ###
playbook.retry

### Ruby ###
Gemfile.lock

### Gradle ###
.gradle
build/
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
